node_modules/

v*.js
v*.*map
v*.d.ts
v*.mjs

payloads/**/*.js
payloads/**/*.map
payloads/**/*.d.ts
payloads/**/*.mjs

rest/**/*.js
rest/**/*.map
rest/**/*.d.ts
rest/**/*.mjs

package-lock.json
bun.lock